/*
Stying sheet for add.php
*/

/*Import fonts*/
@font-face {
    font-family: SF-Pro-Display-Bold;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: SF-Pro-Display-Thin;
    src: url(../fonts/SF-Pro-Display-Thin.otf);
}

/*Navigation bar properties*/
#navbar {
    float: right;
    width: 10em;
}

#navbar li {
    width: 10em;
}

/*Properties for content container*/
#mainContentContainer {
    width: 100vw;
    height: 85vh;

    /*Divide main container in 2 equal columns*/
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: rgba(0, 0, 0, 0.31);
}

/*Style left column - form*/
#form {
    position: relative;

    width: 40vw;
    height: 50vh;

    float: left;

    /*Make form float in middle*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*Style right column - table*/
#phpTable {
    position: relative;

    width: 80%;
    height: auto;

    float: left;

    /*Make table float in the middle*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#phpTable table {
    margin: 0 auto;
}

/*Style labels for form*/
.label {
    width: 20vw;
    margin: 0;
    padding: 0;

    font-family: SF-Pro-Display-Thin, serif;
}

/*Form varying fields with different position
than rest of the fields*/
#varContent {
    width: 30vw;
    height: auto;

    padding-left: 5vw;
}

/*Style form input fields and select menu*/
#form input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    width: 100%;
    height: 3em;

    color: white;
    font-family: SF-Pro-Display-Bold, sans-serif;

    background-color: transparent;
    border: none;
    border-bottom: .2em solid #4b4b4b;

    transition: .25s ease-in-out;
}

/*Disable default appearance for type switcher*/
#typeSwitcher {
    -webkit-appearance: none;
}

/*Set background color for select box and
all the options*/
select option {
    background-color: #1F1F1F;
}

/*Style form input field when clicked in*/
#form input:focus {
    outline-width: 0;

    border: .2em solid #afafaf;

    transition: .25s ease-in-out;
}

/*Style form input field when hovered over*/
#form input:hover {
    border-bottom: .2em solid #afafaf;

    transition: .25s ease-in-out;
}

/*Add padding to form input field text*/
#form input[type=text] {
    padding: 12px 20px;
}

/*Make bigger space between form input elements
and submit button*/
#submitButtonDiv {
    padding-top: 3em;
}

/*Style submit button*/
.submitButton {
    background-color: transparent !important;

    border-radius: 10em;

    transition: .25s ease-in-out;
}