/*Importing font*/
@font-face {
    font-family: SF-Pro-Display-Bold;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

/*Main styling of html and body elements*/
html, body {
    width: 100vw;
    height: 100vh;

    color: rgba(255, 218, 174, 0.41);
}

/*Styling for text after submitting*/
.submitResultContainer {
    margin: 0 auto;
    padding-top: calc(100vh / 2 - 10vh);
    width: 70vw;
    font-family: SF-Pro-Display-Bold, sans-serif;
    font-size: 2em;

    text-align: center;
}

/*
Style "Go back" button
*/
#goBackButtonDiv {
    width: 100%;
}

#goBackButton:link {
    color: rgba(255, 218, 174, 0.41);
    text-decoration: none;

    transition: .25s ease-in-out;
}

#goBackButton:visited {
    color: rgba(255, 218, 174, 0.41);
    text-decoration: none;

    transition: .25s ease-in-out;
}

#goBackButton:hover {
    color: #ffdaae;
    text-decoration: none;

    transition: .25s ease-in-out;

}

#goBackButton:active {
    text-decoration: none;

    transition: .25s ease-in-out;
}