/*Starting content*/
/*First section*/
/*
Section for container
*/
#section {
    width: 100vw;
}

/*
Header for sections
*/
#sectionHeaderContainer {
    position: relative;
    height: 15vh;
}

/*Image properties for header*/
#sectionHeaderImage {
    width: 100vw;
    height: 15vh;

    align-self: center;
    background-size: cover;
}

/*Text properties for header image*/
#sectionHeaderText {
    font-family: SF-Pro-Display-Bold, sans-serif;
    font-size: 3.5em;

    height: 15vh;
    line-height: 15vh;

    right: 5rem;
}

#sectionHeaderText p {
    margin: 0;
}

/*Sets the position property for section header*/
#sectionHeaderImage, #sectionHeaderText {
    position: absolute;
}

/*
Content of section
*/
#sectionContentContainer {
    position: relative;
    width: 100vw;
    height: 20em;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*Keeps perspective of entire container*/
.sectionContent {
    perspective: 1000px;
}

/*Flip container when hover*/
.sectionContent:hover .flipper, .sectionContent.hover .flipper {
    transform: rotateY(180deg);

    cursor: pointer;
}

.sectionContent, .front, .back {
    width: 100%;
    height: 20em;
}

/*Speed of the flipping container*/
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/*When rotating, hide the backfaces*/
.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/*Make sure the front is above back*/
.front {
    z-index: 2;
    /*For Firefox 31*/
    transform: rotateY(0deg);
}

/*Back is hidden by default*/
.back {
    transform: rotateY(180deg);
}

/*Basic properties for both image panes*/
.frontImageContainer, .backImageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.frontImageText, .backImageText {
    position: absolute;
    width: 100%;
    height: Calc(20em / 3);

    margin: 0;
    padding: 0;
    z-index: 3;

    font-family: SF-Pro-Display-Bold, sans-serif;
    color: white;
    font-size: 3em;
}

/*Formatting for front pane text*/
.text {
    position: absolute;

    text-align: center;

    /*Display text in middle of div*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 100%;
}

/*Formatting for back pane text*/
.backImageText > p {
    margin: 0;
    font-size: .5em;

    text-shadow: 2px 2px 5px #000000;

    line-height: 2em;
}

.backImageText > p {
    position: relative;

    text-align: center;

    /*Display text in middle of div*/
    /*
    33% because there are 3 elements inside
    100/3=~33
    */
    float: left;
    top: 33%;
    left: 33%;
    transform: translateX(-33%) translateY(-33%);

    width: 100%;
}

/*Properties for front pane image*/
.frontImage {
    position: absolute;

    width: 100%;
    height: 100%;

    /*Default color if no image is found*/
    background-color: transparent;

    background-size: cover;
}