/*
Styling template for main HTML elements in webpage
*/

/*Importing fonts*/
@font-face {
    font-family: SF-Pro-Display-Bold;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: SF-Pro-Display-Ultralight;
    src: url(../fonts/SF-Pro-Display-Ultralight.otf);
}

/*Styling of html and body elements*/
html, body {
    margin: 0;
    padding: 0;

    font-size: 100%;

    background-color: #1f1f1f;

    color: #ffdaae;

    height: 100%;
}

/*Sets the width to main container,
which will hold all the content,
to fill 100% width of page*/
#container {
    width: 100vw;
}

/*Sets the width to container,
which will hold main content*/
#mainContentContainer {
    width: 100vw;
}

/*Heading and main container styling*/
#heading {
    display: grid;

    width: 100%;
    height: 15vh;

    grid-template-columns: 2fr 1fr 3fr;
}

/*
Main properties for header
*/
/*Size properties for #left-logo*/
#left-logo {
    width: 100%;
    height: 100%;
}

#left-logo p {
    margin: 0;
    padding: 0;
}

/*Properties for main text "store"*/
#mainTextLogoContainer {
    font-family: SF-Pro-Display-Bold, serif;

    width: 100%;
    height: 60%;

    position: relative;
}

#mainTextLogo {
    position: absolute;

    bottom: 0;
    left: 20%;

    font-size: 4em;

    display: inline-block;

    align-self: end;
}

/*Properties for second text*/
#classTextContainer {
    font-family: SF-Pro-Display-Ultralight, serif;

    width: 100%;
    height: 40%;

    position: relative;
}

#classText {
    position: absolute;

    top: -20px;
    left: 30%;

    font-size: 2em;

    display: inline-block;

    align-self: end;
}

/*
Main properties for header
*/
/*Size properties for #right-menu*/
#right-menu {
    position: relative;

    width: 100%;
    height: 100%;
}

#right-menu p {
    margin: 0;
    padding: 0;
}

/*Size properties for navigation container*/
#navbarContainer {
    position: absolute;
    top: 25%;

    width: 100%;
    height: 50%;
}

#navbar {
    height: 100%;
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: SF-Pro-Display-Ultralight, sans-serif;
    font-size: 1.5em;
}

/*Navigation bar list element formatting*/
#navbar li {
    float: left;
    width: 25%;
    height: 100%;

    transition: .25s ease-in-out;
}

#navbar li:hover {
    background-color: rgba(255, 215, 171, 0.26);
    transition: .25s ease-in-out;
}

/*Navigation bar link styling*/
#navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 5vh;

    color: #ffdaae;
}