/*
Stylecheet for submitted.php table
*/

/*Import fonts*/
@font-face {
    font-family: SF-Pro-Display-Regular;
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: SF-Pro-Display-Bold;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

/*Set main font for table*/
table {
    font-family: SF-Pro-Display-Regular, sans-serif;

    border-collapse: collapse;
}

/*Set borders for table and all the elements*/
table, th, td {
    border: 0;
}

/*Set properties for the heading row of table*/
th {
    text-align: left;

    font-family: SF-Pro-Display-Bold, sans-serif;

    height: 4em;
    padding: 0;
}

/*Table data row height and padding*/
td {
    height: 3em;
    padding: .3em;
}

/*Different background for every 2nd row*/
tr:not(:nth-child(odd)) {
    background-color: #1f1f1f;
}

/*Set table container width*/
#phpTable {
    width: 50vw;
    height: auto;
}

/*Set table column width*/
td, th {
    width: 10vw;
}

/*Align delete button to column center*/
.delete {
    text-align: center;
}

/*Properties for delete button*/
.deleteButton {
    cursor: pointer;
    color: #ffdaae;

    pointer-events: auto;

    transition: .25s ease-in-out;
}

/*Properties for delete button on hover*/
.deleteButton:hover {
    color: red;

    transition: .25s ease-in-out;
}

.deleteButton:hover ~ td {
    color: red;

    transition: .25s ease-in-out;
}

